<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%- include("partials/header", { title, activePage }) %>
    <h1><%= title %></h1>
    <ul>
      <% students.forEach(s => { %>
      <li>
        <a href="/students/<%= s.id %>"><%= s.name %></a>
        — <%= s.major %>
      </li>
      <% }) %>
    </ul>
    <%- include("partials/footer") %>
  </body>
</html>
